* {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background: url("images/background.png") no-repeat fixed center;
    background-size: unset;
    background-position: 25% -61%;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    background-color: rgba(88, 88, 233, 0.5);
    border-radius: 25px;
    color: white;
}

.header h1 {
    margin: 0 0 0 28%;
    text-transform: uppercase;
    font-size: 3rem;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.6);
}

#favourites,
#loadMore {
    background-color: rgb(255, 255, 104);
    padding: 10px;
    border-radius: 25px;
    color: rgb(58, 58, 58);
    cursor: pointer;
    font-weight: bolder;
}

#favourites:hover {
    background-color: rgb(245, 245, 245, 0.5);
}

#searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#searchContainer input {
    padding: 7px;
    margin: 0 5px;
    height: 25px;
    width: 235px;
    border-radius: 20px;
}

i.search {
    cursor: pointer;
    font-size: 25px;
}

.invalid {
    outline: 1px solid red;
}

#beersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divBeer,
.divError,
.divWarning {
    background-color: white;
    width: 20rem;
    margin: 10px auto;
    border: 2px solid rgb(58, 58, 58);
    border-radius: 15px;
    padding: 10px;
    font-weight: 600;
}

.beerTitle {
    margin: 0 0 5px 0;
    color: rgb(58, 58, 58);
}

.divDescr {
    display: flex;
}

.divPr {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.beerPrice {
    margin: 5px 0;
    font-weight: bold;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

.beerDescription {
    border-top: 1px solid whitesmoke;
    font-size: 15px;
}

.beerImg {
    width: 100px;
}

.divError,
.divWarning {
    display: none;
    background-color: rgb(255, 104, 104);
    text-align: center;
    min-height: 50px;
}

.divWarning {
    background-color: rgb(255, 255, 104);
    position: absolute;
    z-index: 100;
}

#recentSearches {
    width: 20rem;
    margin: 10px auto;
    font-weight: 600;
}

.recentSearch {
    display: inline-block;
    border: 2px solid rgb(58, 58, 58);
    border-radius: 10px;
    padding: 3px;
    margin: 5px;
}

#loadMore {
    width: 6rem;
    margin: 0 auto;
    background-color: rgb(255, 255, 104);
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#arrowUp {
    display: none;
    position: fixed;
    right: 1%;
    bottom: 1%;
    background-color: rgb(255, 255, 104);
    border: 2px solid rgb(58, 58, 58);
    border-radius: 50px;
    width: 50px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    color: rgb(58, 58, 58);
}
