* {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background: url("images/background.png") no-repeat fixed center;
    background-size: unset;
    background-position: 25% -61%;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    background-color: rgba(88, 88, 233, 0.5);
    border-radius: 25px;
    color: white;
}

.header h1 {
    margin: 0 0 0 28%;
    text-transform: uppercase;
    font-size: 3rem;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.6);
}

#favourites {
    position: relative;
}

#favourites,
#loadMore,
.notFavouriteItem,
.favouriteItem  {
    background-color: rgb(255, 93, 93);
    padding: 10px;
    border-radius: 25px;
    color: rgb(58, 58, 58);
    cursor: pointer;
    font-weight: bolder;
}

#favourites:hover,
.recentSearch:hover,
#loadMore:hover,
#arrowUp:hover,
.notFavouriteItem:hover,
.favouriteItem:hover,
#favourites:disabled,
.removeBtn:hover {
    background-color: rgb(245, 245, 245, 0.5);
}

.beerTitle:hover {
    color:rgb(58, 58, 58, 0.5);
    cursor: pointer;
}

#favourites:disabled {
    cursor: auto;
}

#searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#searchContainer input {
    padding: 7px;
    margin: 0 5px;
    height: 25px;
    width: 235px;
    border-radius: 20px;
}

i.search {
    cursor: pointer;
    font-size: 25px;
}

.invalid {
    outline: 1px solid red;
}

#beersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divBeer,
.divError,
.divWarning,
.divFavourites,
.forBeerItemModal {
    background-color: white;
    width: 20rem;
    margin: 10px auto;
    border: 2px solid rgb(58, 58, 58);
    border-radius: 15px;
    padding: 10px;
    font-weight: 600;
}

.beerTitle {
    margin: 0 0 5px 0;
    color: rgb(58, 58, 58);
}

.divDescr {
    display: flex;
}

.divPr {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.beerPrice {
    margin: 5px 0;
    font-weight: bold;
    border-top: 1px solid rgb(58, 58, 58);
    border-bottom: 1px solid rgb(58, 58, 58);
}

.beerDescription {
    border-top: 1px solid rgb(58, 58, 58);
    font-size: 15px;
}

.beerImg {
    width: 100px;
}

.divError,
.divWarning,
.divFavourites,
.forBeerItemModal {
    display: none;
    position: fixed;
    top: 30%;
    left: 37.3%;
    background-color: rgb(255, 104, 104);
    text-align: center;
    min-height: 50px;
}

.forBeerItemModal {
    top: 10%;
}

.divWarning {
    background-color: rgb(255, 255, 104);
    z-index: 100;
}

.divFavourites,
.forBeerItemModal {
    background-color: white;
    z-index: 100;
}

#recentSearches {
    width: 20rem;
    margin: 10px auto;
    font-weight: 600;
}

.recentSearch {
    display: inline-block;
    border: 2px solid rgb(58, 58, 58);
    border-radius: 10px;
    padding: 3px;
    margin: 5px;
    cursor: pointer;
}

#loadMore {
    display: none;
    width: 6rem;
    margin: 0 auto;
    background-color: rgb(255, 255, 104);
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#arrowUp {
    display: none;
    position: fixed;
    right: 1%;
    bottom: 1%;
    background-color: rgb(255, 255, 104);
    border: 2px solid rgb(58, 58, 58);
    border-radius: 50px;
    width: 50px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    color: rgb(58, 58, 58);
}

.notFavouriteItem,
.favouriteItem  {
    width: 85px;
    margin: 15px auto;
}

.favouriteItem {
    background-color: rgb(255, 93, 93);
}

.notFavouriteItem,
#favourites {
    background-color: rgb(255, 255, 104);
}

.counterFav {
    border-radius: 30px;
    background-color: rgb(71, 194, 71);
    min-width: 16px;
    min-height: 16px;
    padding: 3px 4px 3px 4px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: 58%;
    right: -11%;
    color: whitesmoke;
}

#closeModal {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -12px; 
    left: 49%;
    cursor: pointer;
}

.divFavourites h3 {
    margin: 0;
    position: relative;
    top: -14px; 
    left: 0%;
    text-transform: uppercase;
    background-color: rgba(88, 88, 233, 0.5);
    border-radius: 10px;
    color: white;
}

.beerPoint {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin: 5px;
    font-weight: bold;
    border-bottom: 1px solid rgb(58, 58, 58);
}

.removeBtn {
    background-color: rgb(255, 93, 93);
    padding: 5px;
    border-radius: 25px;
    color: rgb(58, 58, 58);
    cursor: pointer;
    font-weight: bold;
    height: 32px;
    margin: 5px;
}

#divForFavBeers {
    padding: 5px;
    margin-bottom: 19px;
}

#divForFavBeers div:last-child {
    border-bottom: 0px;    
}
